.switcher {
  position: relative;
  border: 2px solid #fff;
  border-radius: 100px;
  overflow: hidden;
  width: 150px;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.check {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  cursor: pointer;
}

.plank {
  --handle-w: 22px;
  --plank-w: calc(200% - 1 * var(--handle-w));
  --move-w: calc(-50% + 0.5 * var(--handle-w));
  width: var(--plank-w);
  display: grid;
  grid-template-columns: 1fr var(--handle-w) 1fr;
  align-items: center;
  background: linear-gradient(90deg, #f80 10%, #08f 90%);
  transition: all 300ms;
}

.check:checked ~ .plank {
  transform: translateX(var(--move-w));
}

.handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff0;
  &::before {
    content: '';
    display: block;
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #fff;
  }
}

.value {
  padding: 0 10px;
  pointer-events: none;
  text-align: center;
}
