# Node files
node_modules

# Log files
logs
*.log
*.log*

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE files
.idea
.vscode

# Cache files
.eslintcache
.linaria-cache

# dotenv environment variables files
.env
.env.test

# tests
coverage
tests-coverage
