.content {
  min-height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &-animation {
    position: relative;
    overflow: hidden;
  }
}

.animated-page {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(to right, #bbb, #444);
}
