.page-home {
  background-color: #fff;
  background-image: linear-gradient(to right, #f808, #08f8);
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.paginator-wrapper {
  position: relative;
}

.state-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
