.page-404 {
  min-height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  background: linear-gradient(to right, #f40, #f04);
  color: #111;
}

.title {
  text-align: center;
  font-size: 50px;
  color: #f80;
}
