.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 3px 10px;
  border: none;
  border-radius: 10px;
  background-color: #0001;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background-color: #0002;
  }
}

.order {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.icon {
  width: 12px;
  height: 8px;
  fill: #0002;
  transition: all 200ms;

  &--active {
    fill: #000a;
  }
}
