.card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 5px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff8;
  background: #fff4;
  text-overflow: ellipsis;
}

.cell {
  display: block;
  margin: 0;
  padding: 5px;
  background: #0002;
}

.term {
  font-family: var(--ff-code);
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}
