.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff8;
  backdrop-filter: blur(2px);
}

.text {
  margin: 0;
  padding: 0;
  text-indent: 2em;
}
