/*!
  minireset        | v0.0.6 | MIT License | github.com/jgthms/minireset.css
  modern-css-reset | v1.4.0 | MIT License | github.com/andy-piccalilli/modern-css-reset
  ress             | v4.0.0 | MIT License | github.com/filipelinhares/ress
  marx             | v3.0.6 | MIT License | github.com/mblode/marx
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body,
p,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
iframe,
pre {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: normal;
}

h1,
h2 {
  margin: 1.3em 0 1em;
}

h3,
h4 {
  margin: 0.9em 0 0.5em;
}

h5,
h6 {
  margin: 0.5em 0 0.25em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.9em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select,
optgroup {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: bold;
}

img,
svg,
canvas,
iframe,
video,
audio {
  display: block;
}

img,
svg,
canvas,
iframe,
video {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

td,
th {
  padding: 0;
}

a {
  color: #08f;
  text-decoration: none;
  background-color: transparent;
}

a:active {
  color: #048;
}

a:hover,
a:focus {
  color: #06c;
  text-decoration: underline;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

[disabled],
[aria-disabled='true'] {
  cursor: default;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  -webkit-appearance: button;
  cursor: pointer;
  color: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}
